<mat-sidenav-container style="background-color: whitesmoke" fullscreen >
  <mat-sidenav #sidenav mode="over" class="background-primary">
    <button mat-button [matMenuTriggerFor]="microPi">Micro pigmentación</button>
    <mat-menu #microPi="matMenu">
      <button mat-menu-item >MICROBLADING</button>
      <button mat-menu-item >CORRECCION DE DISEÑO</button>
      <button mat-menu-item >MICROSHADING</button>
      <button mat-menu-item >RETOQUE DE AÑO</button>
      <button mat-menu-item >CEJAS HIBRIDAS</button>
      <button mat-menu-item >RETOQUE DE MES</button>
    </mat-menu>

  </mat-sidenav>
  <mat-toolbar style="background-color: #d0a6a5">
    <button fxShow="true" fxHide.gt-sm="true" (click)="sidenav.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon style="color: white">menu</mat-icon>
    </button>
    <app-menu-principal></app-menu-principal>
  </mat-toolbar>
  <div id="elementoAncla">Hola</div>
</mat-sidenav-container>
