<mat-sidenav-container style="background-color: whitesmoke" fullscreen >
  <mat-sidenav #sidenav mode="push" class="background-primary">
    <p style="padding: 10px">Micro pigmentacion</p>
    <p style="padding: 10px">Micro pigmentacion</p>
  </mat-sidenav>
  <mat-toolbar style="background-color: #d0a6a5">
    <button (click)="sidenav.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon style="color: white">menu</mat-icon>
    </button>
    <span style="color: white; font-family: Trebuchet MS,serif">Z A H A</span>
  </mat-toolbar>
</mat-sidenav-container>
